* {
}

#root {
    min-width: 1060px;
    background-image: linear-gradient(180deg, #6c648b, #b6a19e);
}

.modalHeader {
    display: flex;
    /* width: 90vw; */
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.dayContainer {
    margin: 1rem;
    height: 100%;
    border-right: 0.1rem solid #6bbaa7;
    padding: 0.5rem;
    flex: 1;
}

.dayContainer > h4 {
    color: whitesmoke;
    margin-bottom: 2rem;
}

.meal {
    flex: 1;
    height: 15rem;
}

.weekContainer {
    min-width: inherit;
    overflow-x: scroll;
    display: flex;
    /* overflow-wrap: break-word; */
    height: fit-content;
    /* background-image: linear-gradient(180deg, #6c648b, #b6a19e); */
}

.recipeContainer {
    display: block;
    width: 20rem;
    min-width: 20rem;
    max-width: 20rem;
    max-height: 20rem;
    min-height: 20rem;
    height: 20rem;
    margin: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    border-width: 0.1rem;
    border-style: dotted;
    cursor: pointer;
}

.recipeContainer.selected {
    display: block;
    width: 20rem;
    min-width: 20rem;
    max-width: 20rem;
    max-height: 20rem;
    min-height: 20rem;
    height: 20rem;
    margin: 0.5rem;
    overflow-wrap: break-word;
    /* transition: width 1s; */
    position: relative;
    border-width: 0.3rem;
    border-style: dotted;
    border-color: green;
}

.recipeBrief {
    display: flex;
    margin: 0.5rem;
    overflow-wrap: break-word;
    transition: width 1s;
    justify-content: space-between;
}

.recipeBrief > img {
    height: 14rem;
    width: 14rem;
}

.recipeBrief > button {
    height: 1.5rem;
    width: 1.5rem;
}

.recipeContainer > p {
    font-size: 1.3rem;
}

.recipeDescription {
    display: flex;
}

/* .recipeContainer:hover {
    border: thin black solid;
    flex-basis: 50%;
    position: absolute;
    z-index: 1;
} */

.menuContainer {
    display: inline-flex;
    flex-wrap: wrap;
    width: 90vw;
    height: auto;
    overflow-wrap: break-word;
    justify-content: center;
    /* margin: 1rem; */
}

.ui.form input[type="text"][readonly],
.ui.form input[type="password"][readonly] {
    background-color: #7e7e7e;
    color: white;
}

/* .ui.basic.buttons {
    color: #ffd89b !important;
} */

.closeButton {
    width: 2rem;
    height: 1.2rem;
    align-self: center;
}

.headerContainer {
    min-width: inherit;
    /* overflow-x: scroll; */
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 5rem;
    margin-bottom: 1rem;
}

.headerContainer > h1 {
    justify-self: center;
    color: white;
    align-self: center;
    font-size: x-larger;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
}

i[class~="close"] {
    transition: transform 0.4s ease-in-out;
}

i[class~="close"]:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

.modalContainer {
    min-height: 100%;
}

.shoppingListContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    min-height: 100%;
}

.shoppingListContainer > * {
    min-height: 100%;
}
